<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IT</servlet-name>
        <servlet-class>IT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faculty</servlet-name>
        <servlet-class>Faculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addfaculty</servlet-name>
        <servlet-class>Addfaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removefaculty</servlet-name>
        <servlet-class>Removefaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addsection</servlet-name>
        <servlet-class>Addsection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removesection</servlet-name>
        <servlet-class>Removesection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>Rating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/mainpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IT</servlet-name>
        <url-pattern>/it</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faculty</servlet-name>
        <url-pattern>/faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addfaculty</servlet-name>
        <url-pattern>/addfaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removefaculty</servlet-name>
        <url-pattern>/removefaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addsection</servlet-name>
        <url-pattern>/addsection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removesection</servlet-name>
        <url-pattern>/removesection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>